<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8">
  <meta name = "viewport" content = "width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/signin.css">
  <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
  <body>
    <div class="row" id="header-top" style="margin-right: 0px">
      <div id="heading" class="helper">
          <a href="/" alt="Marist College Website">
            <img class="maristLogo" alt="Marist College Logo" src="/img/maristLogo.png" />
          </a>
          <div class="right-align">
            <a href="/logout" class="btn-style"><strong>Logout</strong></a>
          </div>
        </div>
      </div>
  </body>
</html>
