<footer>
  <div class="row" id="footer-bottom">
    <div id="marist-info">
      <a href="https://www.marist.edu" alt="Marist College Website">
        <img src="/img/maristLogo.png"  alt="Marist College logo">
      </a>
      <p>Marist College, 3399 North Road, Poughkeepsie, NY 12601 | 845-575-3000
      <br> &copy; Copyright 2020 Marist College. All Rights Reserved. Disclaimers | Privacy Policy</p>
    </div>
  </div>
</footer>
