<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "/css/search.css">
    <link rel="stylesheet" href="/css/signin.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <div class="row" id="header-top">
            <div id="heading" class="helper">
                    <a href="/mainmenu" alt="Marist College Website">
                          <img class="maristLogo" alt="Marist College Logo" src="/img/maristLogo.png" />
                    </a>
                </div>
      </div>

      <form form action="/uploadSyllabus" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile"accept=".doc,.docx,.pdf,.pages"/>
        <input type="submit" value="submit" id="subDoc" href="results"/>
      </form>
    <%- include('partials/footer'); -%>
  </body>
  <script type = "text/javascript" src= "/js/index.js"></script>
</html>
