

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
	    <title>Marist Authentication Service</title>

        <link type="text/css" rel="stylesheet" href="css/marist.css" />

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
	    <link rel="icon" href="/cas/favicon.ico" type="image/x-icon" />
	</head>
	<body id="cas" class="fl-theme-iphone">
    <div class="flc-screenNavigator-view-container">
        <div class="fl-screenNavigator-view">
            <div id="header">
              <div id="header_logo">
                <a href="http://www.marist.edu"><img src="/img/mas.gif" alt="Marist Authentication Service" /></a>
              </div>
            </div>
            <div id="content">


		<div id="welcome">
			<h2>Logout successful</h2>

			<p>You have successfully logged out of the Marist Authentication Service.</p>
			<p id="warning">For security reasons, exit your web browser.</p>
		</div>

                </div>
                <div id="copyright">
                    <div>
                        <p>Copyright &copy; <a href="http://www.marist.edu">Marist College</a>. All rights reserved.</p>
                        <p>Powered by <a href="http://www.jasig.org/cas">Jasig CAS</a></p>
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>

			<script type = "text/javascript" src= "/js/logout.js"></script>
    </body>
</html>
