<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/signin.css">
    <link rel = "stylesheet" type = "text/css" href = "/css/mainmenuAdmin.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" href="/img/favicon.ico" type="image/gif" sizes="16x16">
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" value="notranslate">
  <body>
    <div class="row" id="header-top">
            <div id="heading" class="helper">
                    <a href="/mainmenuAdmin" alt="Marist College Website">
                          <img class="maristLogo" alt="Marist College Logo" src="/img/maristLogo.png" />
                    </a>

                </div>

      </div>
      <div id = "main">
        <div id = "selection" class = "row">
          <div class="col-md-2 col-sm-4">
            <a id='box3' tabindex='3' class="grid-item g_user g_admin usrAccess" href="modifySampleSyllabi">
                <img src="img/editSampleSyl.png">
                <span class = "caption"><strong>EDIT SAMPLE SYLLABI</strong></span>
            </a>
            <div class="description">
              <span><strong>(Edit the Selection of Sample Syllabi)</strong></span>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <a id='box3' tabindex='3' class="grid-item g_user g_admin usrAccess" href="">
                <img src="img/checklist.png">
                <span class = "caption"><strong>MODIFY CHECKLIST</strong></span>
            </a>
            <div class="description">
              <span><strong>(Modify Checklist of Requirements)</strong></span>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <a id='box1' tabindex='1' class="grid-item" href="index">
              <img src="/img/UploadSyllabus.png">
              <span class = "caption"><strong>UPLOAD SYLLABUS</strong></span>
            </a>
            <div class="description">
              <span><strong>(Provide Syllabus Grade)</strong></span>
            </div>
          </div>
          <div class="col-md-2 col-sm-4" >
            <a id='box2' tabindex='2' class="grid-item g_user g_admin usrAccess" href="">
                <img src="img/SyllabusTemplate.png">
                <span class = "caption"><strong>CREATE A SYLLABUS</strong></span>
            </a>
            <div class="description">
              <span><strong>(Build Syllabus From Template)</strong></span>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <a id='box3' tabindex='3' class="grid-item g_user g_admin usrAccess" href="sampleSyllabi">
                <img src="img/SampleSyllabus.png">
                <span class = "caption"><strong>SAMPLE SYLLABI</strong></span>
            </a>
            <div class="description">
              <span><strong>(Syllabi Compliant With Regulations)</strong></span>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <a id='box4' tabindex='4' class="grid-item" href="">
              <img src="/img/SavedSyllabus.png">
              <span class = "caption"><strong>MY SYLLABI</strong></span>
            </a>
            <div class="description">
              <span><strong>(User Saved Syllabi)</strong></span>
            </div>
          </div>

        </div><!-- Grid Container -->
      </div>
    <%- include('partials/footer'); -%>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/jquery.matchHeight.js" type="text/javascript"></script>
    <script type = "text/javascript" src= "/js/mainmenu.js"></script>
  </body>
</html>
