<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/signin.css">
    <link rel = "stylesheet" type = "text/css" href = "/css/mainmenu.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <body>
    <div class="row" id="header-top">
            <div id="heading" class="helper">
                    <a href="/mainmenu" alt="Marist College Website">
                          <img class="maristLogo" alt="Marist College Logo" src="/img/maristLogo.png" />
                    </a>

                </div>

      </div>
      <div id = "main">
        <div id = "selection" class = "row">
          <div class="col-md-3 col-sm-3">
            <a id='box1' tabindex='1' class="grid-item" href="index">
              <img src="/img/UploadSyllabus.png">
              <span class = "caption"><strong>UPLOAD SYLLABUS</strong></span>
            </a>
          </div>
          <div class="col-md-3 col-sm-3" >
            <a id='box2' tabindex='2' class="grid-item g_user g_admin usrAccess" href="">
                <img src="img/SyllabusTemplate.png">
                <span class = "caption"><strong>CREATE A SYLLABUS</strong></span>
            </a>
          </div>
          <div class="col-md-3 col-sm-3">
            <a id='box3' tabindex='3' class="grid-item g_user g_admin usrAccess" href="">
                <img src="img/SampleSyllabus.png">
                <span class = "caption"><strong>SAMPLE SYLLABI</strong></span>
            </a>
          </div>
          <div class="col-md-3 col-sm-3">
            <a id='box4' tabindex='4' class="grid-item" href="">
              <img src="/img/SavedSyllabus.png">
              <span class = "caption"><strong>MY SYLLABI</strong></span>
            </a>
          </div>

        </div><!-- Grid Container -->
      </div>
    <%- include('partials/footer'); -%>
  </body>
</html>
