<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "/css/search.css">
    <link rel="icon" href="/img/favicon.ico" type="image/gif" sizes="16x16">
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <meta name="google" value="notranslate">
  </head>
  <body>
      <div>
        <%- include('partials/header'); -%>
      </div>
      <p>Results</p>
      <canvas id="myChart" width="400" height="400"></canvas>
    <%- include('partials/footer'); -%>
  </body>
  <script type = "text/javascript" src= "/js/results.js"></script>
</html>
