<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "/css/results.css">
    <link rel="icon" href="/img/favicon.ico" type="image/gif" sizes="16x16">
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
    <meta name="google" value="notranslate">
  </head>
  <body>
      <div>
        <%- include('partials/header'); -%>
      </div>
      <p>Results</p>
      <button class="collapsible show_true show_always">Mis-spelled Words</button>
      <div class="content"><p>test</p></div>
      <button class="collapsible show_true show_always">Sentiment Analysis</button>
      <div class="content"></div>
      <button class="collapsible show_true">Check List item: </button>
      <div class="content"></div>
      <button class="collapsible show_true">Sentiment Analysis</button>
      <div class="content"></div>
      <button class="collapsible show_true">Mis-spelled Words</button>
      <div class="content"></div>
      <button class="collapsible show_true">Sentiment Analysis</button>
      <div class="content"></div>
      <button class="collapsible show_true">Check List item: -spelled Words</button>
      <div class="content"></div>
      <button class="collapsible show_true">Sentiment Analysis</button>
      <div class="content"></div>
      <button class="collapsible show_true">Check List item: -spelled Words</button>
      <div class="content"></div>
      <button class="collapsible show_true">Sentiment Analysis</button>
      <div class="content"></div>
      <button class="collapsible show_true">Check List item: -spelled Words</button>
      <div class="content"></div>
      <button class="collapsible show_true">Sentiment Analysis</button>
      <div class="content"></div>
      <button class="collapsible show_true">Check List item: -spelled Words</button>
      <div class="content"></div>
      <button class="collapsible show_true">Sentiment Analysis</button>
      <div class="content"></div>
      <button class="collapsible show_true">Check List item: -spelled Words</button>
      <div class="content"></div>
      <button class="collapsible show_true">Sentiment Analysis</button>
      <div class="content"></div>
      <button class="collapsible show_true">Mis-spelled Words</button>
      <div class="content"></div>
      <button class="collapsible show_true">Sentiment Analysis</button>
      <div class="content"></div>
      <button class="collapsible show_true">Sentiment Analysis</button>
      <div class="content"></div>
    <%- include('partials/footer'); -%>
  </body>
  <script type = "text/javascript" src= "/js/results.js"></script>
</html>
