<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "/css/results.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" href="/img/favicon.ico" type="image/gif" sizes="16x16">
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
    <meta name="google" value="notranslate">
  </head>
  <body>

        <%- include('partials/header'); -%>

      <p>Results</p>
      <div class = "score">
        <p>grade</p>
      </div>
      <button id = "" class="collapsible">Mis-spelled Words</button>
      <div class="content"><p>test</p></div>
      <button id = "" class="collapsible">Sentiment Analysis</button>
      <div class="content"></div>
      <button id = "courseDes" class="collapsible true resultShow">Course Description</button>
      <div class="content"></div>
    <%- include('partials/footer'); -%>
  </body>
  <script type = "text/javascript" src= "/js/results.js"></script>
</html>
