<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/sampleSyllabi.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" href="/img/favicon.ico" type="image/gif" sizes="16x16">
    <meta name="google" value="notranslate">
  </head>
  <body>
    <div class="row" id="header-top">
      <div id="heading" class="helper">
          <a href="/" alt="Marist College Website">
            <img class="maristLogo" alt="Marist College Logo" src="/img/maristLogo.png" />
          </a>
          <div class="right-align">
            <a href="/logout" class="btn-style"><strong>Logout</strong></a>
          </div>
        </div>
      </div>
    <div class="col-sm-4 col-md-4 col-xs-12">
      <div id="doc1">
        <iframe src="https://s3.us-south.cloud-object-storage.appdomain.cloud/sample-syl/MATH_205-111_Syllabus.pdf" ></iframe>
      </div>
      <div class="description">
        <span><strong>SAMPLE MATH SYLLABUS</strong></span>
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-xs-12">
      <div id="doc2" >
        <iframe src="https://s3.us-south.cloud-object-storage.appdomain.cloud/sample-syl/ENG_220L_112.pdf" type="application/pdf"></iframe>
      </div>
      <div class="description">
        <span><strong>SAMPLE ENGLISH SYLLABUS</strong></span>
      </div>
    </div>

    <div class="col-sm-4 col-md-4 col-xs-12">
      <div id="doc3">
        <iframe src="https://s3.us-south.cloud-object-storage.appdomain.cloud/sample-syl/Music.pdf" type="application/pdf"></iframe>
      </div>
      <div class="description">
        <span><strong>SAMPLE MUSIC SYLLABUS</strong></span>
      </div>
    </div>

    <%- include('partials/footer'); -%>
  </body>
    <script type = "text/javascript" src= "/js/sampleSyllabi.js"></script>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>
