<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="/css/signin.css"> -->
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <!-- <script src="https://unpkg.com/jsdocx"></script> -->
    <script src="https://unpkg.com/docx@5.0.2/build/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>

    <style media="screen">
    .row{
      margin-right: 0px;
    }
    </style>

  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google" value="notranslate">
  <body>
    <%- include('partials/header'); -%>

    <div class="contain">
      <div class="col-sm-offset-3">
        <p id="create-label">CREATE A SYLLABUS</p>
        <p id="description">Fill in the Information and at the End PDF and Docx Syllabi Will Download</p>
      </div>


        <div class="row form-row" style="margin-right: 0px">
          <div class="col-sm-3 col-sm-offset-3 col-xs-12" style="background-color:#EEEEEE;">
            <h4>Your name:</h4>
          </div>
          <div class="col-sm-3 col-xs-12" style="background-color:#FFFFFF;">
            <input type="text" id="name" placeholder="Name" required>
          </div>
        </div>

        <div class="row form-row" style="margin-right: 0px">
          <div class="col-sm-3 col-sm-offset-3 col-xs-12" style="background-color:#E0DEDE;" margin: auto;>
            <h4>Your course title:</h4>
          </div>
          <div class="col-sm-3 col-xs-12" style="background-color:#FFFFFF;">
            <input type="text" id="courseName" placeholder="Course Title" required>
          </div>
        </div>

        <div class="row form-row" style="margin-right: 0px">
          <div class="col-sm-3 col-sm-offset-3 col-xs-12" style="background-color:#EEEEEE;" margin: auto;>
            <h4>Your Marist e-mail:</h4>
          </div>
          <div class="col-sm-3 col-xs-12" style="background-color:#FFFFFF;">
            <input type="email" id="insEmail" placeholder="Email" required>
          </div>
        </div>

        <div class="row form-row" style="margin-right: 0px">
          <div class="col-sm-3 col-sm-offset-3 col-xs-12" style="background-color:#E0DEDE;" margin: auto;>
            <h4>Instructor phone number:</h4>
          </div>
          <div class="col-sm-3 col-xs-12" style="background-color:#FFFFFF;">
            <input type="text" id="insPhone" placeholder="Phone">
          </div>
        </div>

        <div class="row form-row" style="margin-right: 0px">
          <div class="col-sm-3 col-sm-offset-3 col-xs-12" style="background-color:#EEEEEE;" margin: auto;>
            <h4>Course Description:</h4>
          </div>
          <div class="col-sm-3 col-xs-12" style="background-color:#FFFFFF;">
            <textarea id="courseDes" rows="4" cols="50" required></textarea>
          </div>
        </div>

        <div class="row form-row" style="margin-right: 0px">
          <div class="col-sm-3 col-sm-offset-3 col-xs-12" style="background-color:#E0DEDE;" margin: auto;>
            <h4>Pre-requisite:</h4>
            <h6>Still state if there are none</h6>
          </div>
          <div class="col-sm-3 col-xs-12" style="background-color:#FFFFFF;">
            <textarea id="preReq" rows="4" cols="50" required></textarea>
          </div>
        </div>

        <div class="row form-row" style="margin-right: 0px">
          <div class="col-sm-3 col-sm-offset-3 col-xs-12" style="background-color:#EEEEEE;" margin: auto;>
            <h4>Attendence Policy:</h4>
          </div>
          <div class="col-sm-3 col-xs-12" style="background-color:#FFFFFF;">
            <textarea id="attenPol" rows="4" cols="50" required></textarea>
          </div>
        </div>

        <div class="row form-row" style="margin-right: 0px">
          <div class="col-sm-3 col-sm-offset-3 col-xs-12" style="background-color:#E0DEDE;" margin: auto;>
            <h4>Academic Honesty Policy:</h4>
            <h6>Cheating and plagiarism</h6>
          </div>
          <div class="col-sm-3 col-xs-12" style="background-color:#FFFFFF;">
            <textarea id="acadHonest" rows="4" cols="50" required></textarea>
          </div>
        </div>

        <div class="row form-row" style="margin-right: 0px">
          <div class="col-sm-3 col-sm-offset-3 col-xs-12" style="background-color:#EEEEEE;" margin: auto;>
            <h4>Grade Determination:</h4>
            <h6>How students will be graded</h6>
          </div>
          <div class="col-sm-3 col-xs-12" style="background-color:#FFFFFF;">
            <textarea id="gradeDet" rows="4" cols="50" required></textarea>
          </div>
        </div>

        <div class="row form-row" style="margin-right: 0px">
          <div class="col-sm-3 col-sm-offset-3 col-xs-12" style="background-color:#E0DEDE;" margin: auto;>
            <h4>Assignments:</h4>
            <h6>Overview of the big assignments in the course</h6>
          </div>
          <div class="col-sm-3 col-xs-12" style="background-color:#FFFFFF;">
            <textarea id="assignments" rows="4" cols="50" required></textarea>
          </div>
        </div>

        <div class="row form-row" style="margin-right: 0px">
          <div class="col-sm-3 col-sm-offset-3 col-xs-12" style="background-color:#EEEEEE;" margin: auto;>
            <h4>Accommodations & Assesibilty Statement:</h4>
          </div>
          <div class="col-sm-3 col-xs-12" style="background-color:#FFFFFF;">
            <textarea id="accommod" rows="4" cols="50" required></textarea>
          </div>
        </div>

        <div class="row form-row" style="margin-right: 0px">
          <div class="col-sm-3 col-sm-offset-3 col-xs-12" style="background-color:#E0DEDE;" margin: auto;>
            <h4>Teach Act Disclosure:</h4>
          </div>
          <div class="col-sm-3 col-xs-12" style="background-color:#FFFFFF;">
            <textarea id="teachAct" rows="4" cols="50" required></textarea>
          </div>
        </div>

        <div class="row form-row" style="margin-right: 0px">
          <div class="col-sm-3 col-sm-offset-3 col-xs-12" style="background-color:#EEEEEE;" margin: auto;>
            <h4>Sources:</h4>
            <h6>Assignments: Term papers, assignment synopses, examinations, etc.</h6>
          </div>
          <div class="col-sm-3 col-xs-12" style="background-color:#FFFFFF;">
            <textarea id="biblio" rows="4" cols="50" required></textarea>
          </div>
        </div>

        <div class="col-sm-offset-3">
          <button onclick="createPDF()" class=button>Download as PDF</button>
          <button onclick="createWord()" class=button>Download as Docx</button>
        </div>
      </div>

    <script>
    //const docx = require("docx");

    const lineLen = 100;
    const lineNum = 20;

    const pdf = new jsPDF();
    const doc = new docx.Document();

    var x = 10;
    var y = 20;

    var font = "times";

    parts = [];

    function createPDF(){

      const BODY = 12;
      const TITLE = 20;

      InsName = document.getElementById("name").value;
      courseName = document.getElementById("courseName").value;
      courseDes = document.getElementById("courseDes").value;
      insEmail = document.getElementById("insEmail").value;
      insPhone = document.getElementById("insPhone").value;
      preReq = document.getElementById("preReq").value;
      attenPol = document.getElementById("attenPol").value;
      acadHonest = document.getElementById("acadHonest").value;
      gradeDet = document.getElementById("gradeDet").value;
      assignments = document.getElementById("assignments").value;
      biblio = document.getElementById("biblio").value;
      teachAct = document.getElementById("teachAct").value;
      accommod = document.getElementById("accommod").value;

      pdf.setFont("times" , "light")

      //write(InsName , "bold");
      write(courseName + "  " + InsName , "bold" , TITLE , x);
      skipLine();
      write("Instructor Contact:" , "bold" , BODY , x);
      write(("E-mail: " + insEmail) , "light" , BODY , x);
      write("Phone: " + insPhone , "light" , BODY , x);
      skipLine();
      write("Course Description:" , "bold" , BODY , x);
      write(courseDes , "light" , BODY , x);
      skipLine();
      write("Pre Requisites:" , "bold" , BODY , x);
      write(preReq , "light" , BODY , x);
      skipLine();
      write("Attendance Policy:" , "bold" , BODY , x);
      write(attenPol , "light" , BODY , x);
      skipLine();
      write("Statement on Academic Honesty:" , "bold" , BODY , x);
      write(acadHonest , "light" , BODY , x);
      skipLine();
      write("Basis of Grade Determination:" , "bold" , BODY , x);
      write(gradeDet , "light" , BODY , x);
      skipLine();
      write("Assignments:" , "bold" , BODY , x);
      write(assignments , "light" , BODY , x);
      skipLine();
      write("Sources / Other Resources:" , "bold" , BODY , x);
      write(biblio , "light" , BODY , x);
      skipLine();
      write("TEACH Act Disclosure:" , "bold" , BODY , x);
      write(teachAct , "light" , BODY , x);
      skipLine();
      write("Accommodations & Assesibilty Statement:" , "bold" , BODY , x);
      write(accommod , "light" , BODY , x);
      skipLine();

      pdf.save(InsName + "_" + courseName + "_syllabus.pdf");

    }

    function createWord(){

      InsName = document.getElementById("name").value;
      courseName = document.getElementById("courseName").value;
      courseDes = document.getElementById("courseDes").value;
      insEmail = document.getElementById("insEmail").value;
      insPhone = document.getElementById("insPhone").value;
      preReq = document.getElementById("preReq").value;
      attenPol = document.getElementById("attenPol").value;
      acadHonest = document.getElementById("acadHonest").value;
      gradeDet = document.getElementById("gradeDet").value;
      assignments = document.getElementById("assignments").value;
      biblio = document.getElementById("biblio").value;
      teachAct = document.getElementById("teachAct").value;
      accommod = document.getElementById("accommod").value;

      doc.addSection({
        properties: {},
        children: [
          new docx.Paragraph({
            children: [
                new docx.TextRun({
                  text: courseName,
                  bold: true,
                }),
                new docx.TextRun("  " + InsName),
                new docx.TextRun("").break(),
                new docx.TextRun("").break(),
                new docx.TextRun({
                  text: "Instructor Contact",
                  bold: true,
                }),
                new docx.TextRun("").break(),
                new docx.TextRun({
                  text: "E-mail: ",
                  bold: true,
                }),
                new docx.TextRun(insEmail),
                new docx.TextRun("").break(),
                new docx.TextRun({
                  text: "Phone: ",
                  bold: true,
                }),
                new docx.TextRun(insPhone),
                new docx.TextRun("").break(),
                new docx.TextRun("").break(),
                new docx.TextRun({
                  text: "Course Description",
                  bold: true,
                }),
                new docx.TextRun("").break(),
                new docx.TextRun(courseDes),
                new docx.TextRun("").break(),
                new docx.TextRun({
                  text: "Pre Requisites",
                  bold: true,
                }),
                new docx.TextRun("").break(),
                new docx.TextRun(preReq),
                new docx.TextRun("").break(),
                new docx.TextRun("").break(),
                new docx.TextRun({
                  text: "Attendence Policy",
                  bold: true,
                }),
                new docx.TextRun("").break(),
                new docx.TextRun(attenPol),
                new docx.TextRun("").break(),
                new docx.TextRun("").break(),
                new docx.TextRun({
                  text: "Statement on Academic Honesty",
                  bold: true,
                }),
                new docx.TextRun("").break(),
                new docx.TextRun(acadHonest),
                new docx.TextRun("").break(),
                new docx.TextRun("").break(),
                new docx.TextRun({
                  text: "Basis of Grade Determination",
                  bold: true,
                }),
                new docx.TextRun("").break(),
                new docx.TextRun(gradeDet),
                new docx.TextRun("").break(),
                new docx.TextRun("").break(),
                new docx.TextRun({
                  text: "Assignments",
                  bold: true,
                }),
                new docx.TextRun("").break(),
                new docx.TextRun(assignments),
                new docx.TextRun("").break(),
                new docx.TextRun("").break(),
                new docx.TextRun({
                  text: "Sources",
                  bold: true,
                }),
                new docx.TextRun("").break(),
                new docx.TextRun(biblio),
                new docx.TextRun("").break(),
                new docx.TextRun("").break(),
                new docx.TextRun({
                  text: "TEACH Act Disclosure",
                  bold: true,
                }),
                new docx.TextRun("").break(),
                new docx.TextRun(teachAct),
                new docx.TextRun("").break(),
                new docx.TextRun("").break(),
                new docx.TextRun({
                  text: "Accommadations & Accesibility Statement",
                  bold: true,
                }),
                new docx.TextRun("").break(),
                new docx.TextRun(accommod),
                ],
              }),
            ],
          });

      docx.Packer.toBlob(doc).then(blob => {
        console.log(blob);
        saveAs(blob, (InsName + "_" + courseName + "_syllabus.docx"));
        console.log("Document created successfully");
      });
    }

    function write(s){
      console.log("s called");
      write(s , "light" , 12 , x);
    }

    function write(s , style){
      console.log("text: " + s);
      console.log("style: " + style);
      write(s , style , 12 , x);
    }

    function write(s , style , fSize , xStart){
      //for pdf
      console.log("text: " + s);
      console.log("style: " + style);
      console.log("fontSize: " + fSize);
      console.log("xStart: " + xStart);
      pdf.setFont(font , style);
      pdf.setFontSize(fSize);

      var lines = pdf.splitTextToSize(s , 180);
      pdf.text(lines , xStart , y);

      y += 6 * lines.length;

    /*
      //for word
      if(style == "light"){
        console.log("light section added");
        doc.addSection({
          properties: {},
          children: [
            new docx.Paragraph({
              text: s
              }),
            ],
          });
        }

      else if(style == "bold"){
        console.log("bold section added");
        doc.addSection({
          properties: {},
          children: [
            new docx.Paragraph({
              children: [
                new docx.TextRun(s),
                ],
              }),
            ],
          });
      }
    */
    }

    function fontBuff(f){
      if (f <= 12){
        return 0;
      }
      else{
        return (f - 12);
      }
    }

    function skipLine(){
      y += 6;
    }

    </script>

    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/jquery.matchHeight.js" type="text/javascript"></script>
    <script src="js/template.js" type="text/javascript"></script>
  </body>
</html>
