.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-weight: 700;
    background-color: lightgrey;
		color: black;
		font-size: 18px;
    display: inline-block;
    border-radius: 5px;
}

#subDoc{
    font-weight: 700;
    background-color: grey;
		color: black;
		font-size: 18px;
    display: inline-block;
    border-radius: 5px;
		border: none;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
		padding-right: 5px;
}


.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #bfc0c9;
}

.inputfile + label {
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.remove {
	padding-top:3px;
	padding-bottom:3px;
	font-size: 18px;
	padding-left: 20px;
	padding-right: 20px;
  font-weight: 700;
  background-color: lightgrey;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
	height: 38px;
}

.remove:hover{
	background-color: #bfc0c9;
}

.removeAll {
	margin-top: 10px;
	padding-top:3px;
	padding-bottom:3px;
	font-size: 15px;
	padding-left: 20px;
	padding-right: 20px;
  font-weight: 600;
  background-color: lightgrey;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
	height: 38px;
}

.removeAll:hover{
	background-color: #bfc0c9;
}

.samplesyl{
  /* padding-left: 20px; */
	color: black;
	text-decoration: underline;
	font-weight: 700;
	word-wrap: break-word;
}

label{
  padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

form{
	padding-top: 5px;
}

.syl{
	width: 450px;
	background-color: lightgrey;
	margin-bottom: 2px;
	border-radius: 5px;
	font-size: 16px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: 700;
}

#subDoc:hover{
	opacity: 0.6;
}

.contain{
	width: 450px;
	margin: auto;
}

.center-head{
	padding-top: 10px;
	text-align: center;
}

.edit-header{
	font-size: 32px;
	font-weight: 600;
	display: inline-block;
	text-align: center;
}

@media only screen and (max-width: 450px) {
  .contain{
    width: 370px;
    margin: auto;
  }

  .syl{
  	width: 370px;
		word-wrap: break-word;
  }

}
