.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-weight: 700;
    background-color: lightgrey;
		color: black;
		font-size: 20px;
    display: inline-block;
    border-radius: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #bfc0c9;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.remove {
	padding-top:5px;
	padding-left: 20px;
	padding-right: 20px;
  font-weight: 700;
  background-color: lightgrey;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}

.remove:hover{
	background-color: #bfc0c9;
}

.samplesyl{
  padding-left: 20px;
	color: black;
	text-decoration: underline;
	font-weight: 500;
	word-wrap: break-word;
}

label{
  padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.syl{
	width: 400px;
	background-color: lightgrey;
	margin-bottom: 2px;
	border-radius: 5px
}

#subDoc{
	border: none;
	background-color: black;
	font-weight: bold;
	display: inline-block;
	border-radius: 5px;
	color: white;

	margin-left: 5px;
	position: relative;
	top: 4px;
}

#subDoc:hover{
	opacity: 0.6;
}
